 * {box-sizing: border-box;
     margin: 0; 
     padding: 0;
    }
                
              
/* Main Elements */

            body {
                text-align: center; 
                background-color: rgb(251, 235, 225);
                margin: 15px auto;
                font-family: sans-serif;}  
                
            h1, h2 {text-decoration: none; 
                padding 10px;}
                
            header {     
                padding: 5px; 
                border-bottom: 2px solid white;
                }
          
            nav {text-align: center;
                    }
              
            section {
                height: 200px;
                width: 75%;
                float: left;}

            section > div {
                float:left;
                width: 50%;
                padding:10px;               
                box-sizing:border-box;
                color: #8a97a0;
                }  
              
            footer {
                position: fixed;
                right: 0; 
                bottom: 0;
                left: 0;
                padding: 1rem;
                clear: both;
                text-align: center;
                background-color: lightgray;
                color: white;
              }
            
            ul { list-style-type: none; 
            }
  
/* ================================= 
  Base Layout Styles
==================================== */

.selfie {border-radius: 50%;
    padding:1px;
    border:3px solid #021a40;
    filter: grayscale(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


/* ---- Navigation ---- */

.main-nav li {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px; 
    margin-right: 25px; 
    display: inline-block;
    text-align: center;
}

.main-nav a {
	font-size: .95em;
	color: #8a97a0;
	text-transform: uppercase;
    padding: 10px 15px;
	display: inline-block;  
    text-align: center;
}

.main-nav a:hover {
	opacity: 75%;
}

nav a:visited {
    color: lightgray; 
    font-size: .95em; }
    
    
/* ================================= 
  Contact Page Styles
==================================== */
.wrap{
    text-align: center;
    width: 100%; 
    }
    
form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
} 

input {
    width: 100%;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 100%;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 15px;
}

input[type="text"]
input[type="email"], 
textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #fff;
  color: #8a97a0;
  box-shadow: 0 2px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 25px;
}
    
tr, td {   
    text-align: center; 
    padding: 3px;         
    margin: 2px; 
    color: white; 
    }

button {
  padding: 5px;
  color: #8a97a0;
  background-color: #fff;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 50%;
  border: 1px solid lightgrey;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 5px;
}


/* ================================= 
  Flexbox
==================================== */

.contact {
	display: flex;
	flex-wrap: wrap;
    
}
/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 480px) {

  form {
      max-width: 480px;}
    }
    
@media (min-width: 769px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}
    
    .container {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
	}
    
    .main-nav,
	.main-nav li {
		display: inline-block;
        margin-right: 12px;
    }}           

/*
@media screen and (min-width: 480px) {#leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}}*/
